<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightAuthentication</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.FlightAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelAuthentication</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.HotelAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServelet</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.SignupServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestrictedFlight</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.RestrictedFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestrictedHotels</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.RestrictedHotels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suemailval</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.suemailval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suphval</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.suphval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signupflights</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.Signupflights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signuphotels</servlet-name>
        <servlet-class>com.mycompany.miniprojectawp.Signuphotels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userdel</servlet-name>
        <servlet-class>userdel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flightdel</servlet-name>
        <servlet-class>flightdel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Flightadd</servlet-name>
        <servlet-class>Flightadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminval</servlet-name>
        <servlet-class>adminval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hotelchange</servlet-name>
        <servlet-class>Hotelchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminverify</servlet-name>
        <servlet-class>adminverify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightAuthentication</servlet-name>
        <url-pattern>/FlightAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelAuthentication</servlet-name>
        <url-pattern>/HotelAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServelet</servlet-name>
        <url-pattern>/SignupServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestrictedFlight</servlet-name>
        <url-pattern>/RestrictedFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestrictedHotels</servlet-name>
        <url-pattern>/RestrictedHotels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suemailval</servlet-name>
        <url-pattern>/suemailval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suphval</servlet-name>
        <url-pattern>/suphval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signupflights</servlet-name>
        <url-pattern>/Signupflights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signuphotels</servlet-name>
        <url-pattern>/Signuphotels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userdel</servlet-name>
        <url-pattern>/userdel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flightdel</servlet-name>
        <url-pattern>/flightdel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Flightadd</servlet-name>
        <url-pattern>/Flightadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminval</servlet-name>
        <url-pattern>/adminval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hotelchange</servlet-name>
        <url-pattern>/Hotelchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminverify</servlet-name>
        <url-pattern>/adminverify</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Introduction.html</welcome-file>
    </welcome-file-list>
</web-app>
